header {
    background-color: #2a9bb2;

    padding: 10px 60px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin: 0;
    padding: 0;
}